{% load i18n %}
{% if tags %}
<p>{% trans "Tags:" %}
    {% for tag in tags %}
    <a href="{% url 'cmsapp:index' tag.name %}">
        {{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
{% endif %}
