form.lang {
    display: inline-block;
}
form.lang button {
    border: none;
}
body {
    padding-right: 20em;
}
.sidebar {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    width: 20em;
    border-left: 5px solid gray;
    padding-left: 5px;
    word-break: break-all;
}
.messages {
    list-style: none;
}
.messages li {
    border: 3px solid steelblue;
    border-radius: 5px;
    background: lightblue;
}
