{% load i18n %}
{% load static %}
{% get_current_language as current_lang %}
<!DOCTYPE html>
<html lang="{{ current_lang }}">
<head>
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
    <title>{% block title %}{% trans "No title" %}{% endblock %}</title></head>
<body>
{% if request.user.is_authenticated %}
    <a href="{% url 'auth:logout' %}">{% trans "Logout" %}</a> |
    <a href="{% url 'auth:password_change' %}">{% trans "Change password" %}</a>
{% else %}
    <a href="{% url 'auth:login' %}">{% trans "Login" %}</a> |
    <a href="{% url 'auth:password_reset' %}">{% trans "Reset password" %}</a>
{% endif %}
|
<form class="lang" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    {% get_available_languages as available %}
    {% get_language_info_list for available as languages %}
    {% for lang in languages %}
        {% if lang.code != current_lang %}
            <button type="submit" value="{{ lang.code }}" name="language">{{ lang.name_local }}</button>
        {% else %}
            <button disabled value="{{ lang.code }}" name="language">{{ lang.name_local }}</button>
        {% endif %}
        {% if forloop.revcounter0 %} |{% endif %}
    {% endfor %}
</form>
{% block crumb %} {% endblock %}
{% block body %} {% endblock %}
</body>
</html>
