{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <button type="submit">Login</button>
</form>
{% endblock %}
