{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Delete page?" %}
{% endblock %}

{% block body%}
    <form method="post">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit">{% trans "Save" %}</button>
    </form>
{% endblock %}
