{% extends "base.html" %}
{% load formset_tags %}
{% load i18n %}
{% block title %}
    {% if page %}
        {{ page.title }} [editing]
    {% else %}
        [adding new page]
    {% endif %}
{% endblock %}

{% block body%}
    <h1><a href="{% url 'cmsapp:index' %}">{% trans "Home" %}</a> > {{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        {% if formset %}
        <h3>Sidebar items</h3>

        {{ formset.media }}
        <blockquote id="formset" data-formset-prefix="{{ formset.prefix }}">
            {{ formset.management_form }}
            <div data-formset-body>
            {% for form in formset %}
                <div data-formset-form>
                    <table>{{ form.as_table }}</table>
                </div>
            {% endfor %}
            </div>

            <script type="form-template" data-formset-empty-form>{% escapescript %}
                <div data-formset-form>
                    <table>{{ formset.empty_form }}</table>
                </div>
            {% endescapescript %}</script>

            <input type="button" value="Add another" data-formset-add>
            <script>jQuery(function($) {
                $("#formset").formset();
            });</script>
        </blockquote>
        {% endif %}

        <button type="submit">{% trans "Save" %}</button>
    </form>
{% endblock %}
