{% extends "cmsapp/page_detail.html" %}
{% load i18n %}
{% block title %}
    {% blocktrans with title=page.title%}
        Moderate {{ title }}
    {% endblocktrans %}
{% endblock %}

{% block crumb %}
<form method="post">{% csrf_token %}
<h1>
    <a href="{% url 'cmsapp:index' %}">{% trans "Home" %}</a>
    >
    <a href="{% url 'cmsapp:moderate' %}">{% trans "Moderation" %}</a>
    >
    {{ page.title }}
    |
    <button type="submit" name="action" value="publish">Publish</button>
    <button type="submit" name="action" value="discard">Discard</button>
</h1>
</form>
{% endblock %}
