{% extends "cmsapp/page_list.html" %}
{% load i18n %}

{% block crumb %}
<h1><a href="{% url 'cmsapp:index' %}">{% trans "Home" %}</a> > {% trans "Moderation" %}</h1>
{% endblock %}

{% block pages %}
    <h2>{% trans "Pages awaiting moderation" %}</h2>
    <ul>
        {% for page in object_list %}
        <li><a href="{% url 'cmsapp:moderate' page.pk %}">{{ page.title}}</a></li>
        {% empty %}
        {% trans "Great job! Nothing to moderate left." %}
        {% endfor %}
    </ul>
{% endblock %}
