{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Pages" %}{% endblock %}

{% block crumb %}
<h1>
    {% trans "Home" %}
    |
    <a href="{% url 'cmsapp:add' %}">{% trans "Add" %}</a> (<a href="{% url 'cmsapp:add-sidebar' %}">{% trans "sidebar" %}</a>)
</h1>
{% endblock %}

{% block body %}
{% include "cmsapp/includes/tags.html" %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    {% if moderate_count %}
        <li><a href="{% url 'cmsapp:moderate' %}">
            {% blocktrans %}{{ moderate_count }} pages are awaiting moderation.{% endblocktrans %}
        </a></li>
    {% endif %}
</ul>

{% block pages %}
    <h2>{% trans "Pages" %}</h2>
    <ul>
        {% for page in object_list %}
        <li><a href="{% url 'cmsapp:page' page.slug %}">{{ page.title}}</a></li>
        {% empty %}
        {% trans "No pages yet!" %}
        {% endfor %}
    </ul>
{% endblock %}
{% if object_list %}
<p>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a> |
    {% endif %}
    {% with page_number=page_obj.number total_pages=paginator.num_pages %}
        {% blocktrans %}page {{ page_number }} of {{ total_pages }}{% endblocktrans %}
    {% endwith %}

    {% if page_obj.has_next %}
        | <a href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
</p>
{% endif %}
{% endblock %}
