{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ page.title }}{% endblock %}

{% block crumb %}
<h1><a href="{% url 'cmsapp:index' %}">{% trans "Home" %}</a> >
{{ page.title }}
<a href="{% url 'cmsapp:change' page.slug %}">{% trans "Edit" %}</a>
<a href="{% url 'cmsapp:delete' page.slug %}">{% trans "Delete" %}</a>
</h1>
{% endblock %}
{% block body%}
{% include "cmsapp/includes/tags.html" %}

{% if sidebar %}
    <div class="sidebar">
    <h2>{{ sidebar.sidebar_title }}</h2>
    <ul>
        {% for item in sidebar.sidebar_items.all %}
        <li>{{ item.content }}</li>
        {% endfor %}
    </ul>
    </div>
{% endif %}
<p>{{ page.content }}</p>
{% endblock %}
